<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <div>
        <div class="corona-notice">
          <div class="wrapper">
            <img alt="coronavirus" title="coronavirus"
                 src="assets/coronavirus.png"/>
          </div>
          <span class="align-middle"> NOTICE!! please </span>
          <div class="wrapper">
            <img alt="wash-your-hands" title="wash-your-hands"
                 src="assets/wash-your-hands.jpg"/>
          </div>
          <span class="align-middle"> use </span>
          <div class="wrapper">
            <img alt="hand_sanitizer" title="hand_sanitizer"
                 src="assets/hand_sanitizer.png"/>
          </div>
          <span class="align-middle"> and practice</span>
          <div class="wrapper">
            <img alt="social_distancing" title="social_distancing"
                 src="assets/social_distancing.png"/>
          </div>
          <span class="align-middle">.</span>
        </div>
      </div>
    </div>
  </div>
</footer>
