<!-- footer -->
<footer class="footer">
    <div class="container">
        <div class="content has-text-centered">
            <div>
                <!-- <ngx-emoji emoji=":pushpin::skin-tone-3:" size="18"></ngx-emoji> -->
                <div class="corona-notice">
                    <div class="wrapper">
                        <img alt="coronavirus" title="coronavirus"
                            src="https://emojis.slackmojis.com/emojis/images/1580374434/7652/coronavirus.png?1580374434" />
                    </div>
                    <span class="align-middle"> Notice: please </span>
                    <div class="wrapper">
                        <img alt="wash-your-hands" title="wash-your-hands"
                            src="https://emojis.slackmojis.com/emojis/images/1584386384/8102/wash-your-hands.jpg?1584386384" />
                    </div>
                    <span class="align-middle"> use </span>
                    <div class="wrapper">
                        <img alt="hand_sanitizer" title="hand_sanitizer"
                            src="https://emojis.slackmojis.com/emojis/images/1584380745/8100/hand_sanitizer.png?1584380745" />
                    </div>
                    <span class="align-middle"> and practice</span>
                    <div class="wrapper">
                        <img alt="social_distancing" title="social_distancing"
                            src="https://emojis.slackmojis.com/emojis/images/1584408172/8107/social_distancing.png?1584408172" />
                    </div>
                    <span class="align-middle">.</span>
                </div>
            </div>
            
        </div>
    </div>
</footer>