.corona-notice {
    text-align: center;
    padding: 20px 0 30px;
    font-size: 1.4em;
}

.corona-notice .wrapper {
    height: 32px;
    width: 32px;
    display: inline-block;
    vertical-align: middle;
    padding-top: 3px;
}

.corona-notice img {
    max-height: 100%;
    max-width: 100%;
}
