<div class="contact">
    <section class="hero is-primary is-bold">
        <div class="container">
            <h5 class="title">
                <ngx-emoji emoji=":loudspeaker::skin-tone-3:" size="20"></ngx-emoji> Data source
            </h5>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <ul>
                <li>Govt. of Tamil Nadu, Health & Family Welfare Department: <a href="https://stopcorona.tn.gov.in/" rel="nofollow">https://stopcorona.tn.gov.in/</a></li>
                <li>This portal is an effort to consolidating the daily report released by Health dept. during daily briefing at 6 PM, which tries to enable us to view in one place. Please let us know in comments when seeing any discrepencies against Govt.
                    release
                </li>
                <li>All 38 districts are now updated in the map</li>
                <li>Volunteers! always welcome to maintain this site and for consolidating the data from official site
                </li>
            </ul>
        </div>
    </section>

    <section class="hero is-primary is-bold">
        <div class="container">
            <h5 class="title">
                <ngx-emoji emoji=":mailbox_with_mail::skin-tone-3:" size="20"></ngx-emoji> Contact Us
            </h5>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div [hidden]="submitted">
                <form (ngSubmit)="processForm()" #commentForm="ngForm">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" id="name" required [(ngModel)]="model.name" name="name" #name="ngModel" placeholder="Name">
                        <div [hidden]="name.valid || name.pristine" class="text-danger">
                            Please enter name
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="email">Email Address</label>
                        <input type="email" class="form-control" id="email" required [(ngModel)]="model.email" name="email" #email="ngModel" placeholder="Email Address" email>
                        <div [hidden]="email.valid || email.pristine" class="text-danger">
                            Please enter a valid email address
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="message">Comments</label>
                        <textarea class="textarea form-control" name="message" placeholder="Feedback or comments" [(ngModel)]="model.message" required #message="ngModel"></textarea>
                        <div [hidden]="message.valid || message.pristine" class="text-danger">
                            Please enter comments
                        </div>
                    </div>
                    <button type="submit" class="btn btn-success" [disabled]="true">Coming soon</button>
                </form>
            </div>
            <div [hidden]="!submitted">
                <h5 class="text-success">
                    <ngx-emoji emoji=":rocket::skin-tone-3:" size="20"></ngx-emoji> Thank you for your feedback!
                </h5>
            </div>
        </div>
    </section>

    <section class="hero is-primary is-bold">
        <div class="container">
            <h5 class="title">
                <ngx-emoji emoji=":thumbsup::skin-tone-3:" size="20"></ngx-emoji> Credits
            </h5>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <ul>
                <li>Maps: <a href="https://leafletjs.com/" rel="nofollow">Leafletjs</a> + <a href="https://qgis.org/" rel="nofollow">QGIS</a></li>
                <li><a href="https://www.highcharts.com/" rel="nofollow">Highcharts</a> for charts and <a href="https://www.ag-grid.com/angular-grid/" rel="nofollow">ag-grid</a> for tables</li>
                <li>of course, <a href="https://angularjs.org" rel="nofollow">Angular</a> + <a href="https://github.com/dotnet/aspnetcore" rel="nofollow">.NET Core</a> with linux flavor
                </li>
            </ul>
        </div>
    </section>

</div>