<div class="contact">
    <section class="hero is-primary is-bold">
        <div class="container">
            <h5 class="title"><ngx-emoji emoji=":loudspeaker::skin-tone-3:" size="20"></ngx-emoji> Data source</h5>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <ul>
                <li>Web site: <a href="https://angularjs.org" rel="nofollow">https://angularjs.org</a></li>
                <li>Tutorial: <a href="https://docs.angularjs.org/tutorial" rel="nofollow">https://docs.angularjs.org/tutorial</a>
                </li>
                <li>API Docs: <a href="https://docs.angularjs.org/api" rel="nofollow">https://docs.angularjs.org/api</a></li>
                <li>Developer Guide: <a href="https://docs.angularjs.org/guide" rel="nofollow">https://docs.angularjs.org/guide</a>
                </li>
                <li>Contribution guidelines: <a href="/angular/angular.js/blob/master/CONTRIBUTING.md">CONTRIBUTING.md</a></li>
                <li>Core Development: <a href="/angular/angular.js/blob/master/DEVELOPERS.md">DEVELOPERS.md</a></li>
                <li>Dashboard: <a href="https://dashboard.angularjs.org" rel="nofollow">https://dashboard.angularjs.org</a></li>
            </ul>
        </div>
    </section>

    <section class="hero is-primary is-bold">
        <div class="container">
            <h5 class="title"><ngx-emoji emoji=":thumbsup::skin-tone-3:" size="20"></ngx-emoji> Credits</h5>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <ul>
                <li>Web site: <a href="https://angularjs.org" rel="nofollow">https://angularjs.org</a></li>
                <li>Tutorial: <a href="https://docs.angularjs.org/tutorial"
                        rel="nofollow">https://docs.angularjs.org/tutorial</a>
                </li>
                <li>API Docs: <a href="https://docs.angularjs.org/api" rel="nofollow">https://docs.angularjs.org/api</a>
                </li>
                <li>Developer Guide: <a href="https://docs.angularjs.org/guide"
                        rel="nofollow">https://docs.angularjs.org/guide</a>
                </li>
                <li>Contribution guidelines: <a href="/angular/angular.js/blob/master/CONTRIBUTING.md">CONTRIBUTING.md</a>
                </li>
                <li>Core Development: <a href="/angular/angular.js/blob/master/DEVELOPERS.md">DEVELOPERS.md</a></li>
                <li>Dashboard: <a href="https://dashboard.angularjs.org" rel="nofollow">https://dashboard.angularjs.org</a>
                </li>
            </ul>
        </div>
    </section>

    <section class="hero is-primary is-bold">
        <div class="container">
            <h5 class="title"><ngx-emoji emoji=":mailbox_with_mail::skin-tone-3:" size="20"></ngx-emoji> Contact Us</h5>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <form (ngSubmit)="processForm()">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" name="name" class="form-control" placeholder="Your Name" [(ngModel)]="name"
                        required minlength="3" #nameInput="ngModel">
                    <!-- <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                    Name is required
                </div> -->
                </div>
                <div class="form-group">
                    <label for="email">Email Address</label>
                    <input type="email" name="email" class="form-control" placeholder="Your Email" [(ngModel)]="email"
                        required email #emailInput="ngModel">
                    <div class="help is-error" *ngIf="emailInput.invalid && emailInput.dirty">
                        Needs to be a valid email.
                    </div>
                </div>
                <div class="form-group">
                    <label for="message">Comments</label>
                    <textarea class="textarea form-control" name="message" placeholder="Feedback or comments"
                        [(ngModel)]="message" required #messageInput="ngModel"></textarea>
                    <div class="help is-error" *ngIf="emailInput.invalid && emailInput.dirty">
                        Feedback or comments
                    </div>
                </div>
                <button type="submit" class="btn btn-success">Submit</button>
            </form>
        </div>
    </section>
</div>