<div class="card border-secondary mb-3">
  <div class="card-header">District Name - {{dtName}}
    <span class="badge badge-primary cursor-pointer float-right" (click)="resetView()">Reset view</span>
  </div>
  <div class="card-body text-secondary">
        <span class="card-text">
            <div class="jsx-883442639 counts">
                <section class="jsx-883442639">
                    <div class="jsx-883442639">New: <span
                      class="jsx-883442639">+{{districtData.newCases}}</span></div><strong
                  class="jsx-883442639">{{districtData.totalCases}}</strong>
                    <div class="jsx-883442639">Cases</div>
                </section>
                <section class="jsx-883442639">
                    <div class="jsx-883442639">New: <span
                      class="jsx-883442639">+{{districtData.newRecovered}}</span></div><strong
                  class="jsx-883442639">{{districtData.totalRecovered}}</strong>
                    <div class="jsx-883442639">Recovered</div>
                </section>
                <section class="jsx-883442639">
                    <div class="jsx-883442639">New: <span
                      class="jsx-883442639">+{{districtData.newDeath}}</span></div><strong
                  class="jsx-883442639">{{districtData.totalDeath}}</strong>
                    <div class="jsx-883442639">Deaths</div>
                </section>
            </div>
        </span>
  </div>
</div>
